@tailwind base;
@tailwind components;
@tailwind utilities;

.container-bg {
  @apply bg-secondary-200;
  @apply drop-shadow;
  padding: 15px;
  min-width: 90%;
}

.container {
  @apply flex;
  flex-direction: column;
}

.bodycontainer {
  @apply bg-secondary-300;
  @apply p-1;
  flex-direction: column;
  align-items: center;
  display: flex;
  min-height: 100vh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.heatmap {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q0-11 {
  fill: rgb(165, 0, 38);
}
.RdYlGn .q1-11 {
  fill: rgb(215, 48, 39);
}
.RdYlGn .q2-11 {
  fill: rgb(244, 109, 67);
}
.RdYlGn .q3-11 {
  fill: rgb(253, 174, 97);
}
.RdYlGn .q4-11 {
  fill: rgb(254, 224, 139);
}
.RdYlGn .q5-11 {
  fill: rgb(255, 255, 191);
}
.RdYlGn .q6-11 {
  fill: rgb(217, 239, 139);
}
.RdYlGn .q7-11 {
  fill: rgb(166, 217, 106);
}
.RdYlGn .q8-11 {
  fill: rgb(102, 189, 99);
}
.RdYlGn .q9-11 {
  fill: rgb(26, 152, 80);
}
.RdYlGn .q10-11 {
  fill: rgb(0, 104, 55);
}
